
profiles {

    standard {
        process.executor = 'local'
	process.container="metaboigniter/course_docker:v5"
	singularity.enabled = true
    	}

    uppmax {
	process.container="metaboigniter/course_docker:v5"
	process.executor = 'slurm'
	process.time="2h"
	process.cpus="1"
	process.memory="10 GB"
	process.clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}"}
	singularity.enabled = true
 	}
}

